.comics {
    &__list {
        margin-top: 45px;

        @media (max-width: 480px) {
            margin-top: 30px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;

        // large tablets
        @media (max-width: 1200px) {
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 200px);
            column-gap: 20px;
        }

        // tablets
        @media (max-width: 992px) {
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 180px);
            column-gap: 20px;
            row-gap: 45px;
        }

        // small tablets
        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, 160px);
            row-gap: 40px;
        }

        // phones
        @media (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 15px;
            row-gap: 30px;
        }
    }

    &__item {
        transition: 0.3s transform;

        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 225px;
            height: 345px;

            @media (max-width: 1200px) {
                width: 200px;
                height: 300px;
            }

            @media (max-width: 992px) {
                width: 180px;
                height: 260px;
            }

            @media (max-width: 768px) {
                width: 160px;
                height: 240px;
            }

            @media (max-width: 480px) {
                width: 100%;
                height: auto;
            }
        }

        &-name {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;

            @media (max-width: 768px) {
                font-size: 13px;
            }

            @media (max-width: 480px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-price {
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;

            @media (max-width: 768px) {
                font-size: 13px;
            }

            @media (max-width: 480px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}
