  __message {
    margin: 20px 0;
    padding: 14px 18px;
    background: #f5f5f5;
    border-left: 4px solid #5c5c5c;
    font-weight: 500;
    border-radius: 6px;

    opacity: 0;
    transform: translateY(-12px) scale(0.98);
    transition:
      opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
      transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);

    &.show {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    &.hide {
      opacity: 0;
      transform: translateY(-12px) scale(0.98);
    }
  }


.profile-page {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.profile-page__card {
    width: 400px;
    background: #1e1e1e;
    border-radius: 12px;
    padding: 30px;
    color: #fff;
}

.profile-page__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #555;
    position: relative;
}

/* человечек как на паспорте */
.avatar-placeholder::before {
    content: '';
    width: 35px;
    height: 35px;
    background: #777;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar-placeholder::after {
    content: '';
    width: 55px;
    height: 30px;
    background: #777;
    border-radius: 20px 20px 10px 10px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-page__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.label {
    color: #aaa;
}

.profile-page__actions {
    margin-top: 25px;
    display: flex;
    gap: 10px;
}

.profile-page__btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.profile-page__btn.logout {
    background: #b00020;
    color: white;
}
